
  .App {
    font-family: sans-serif;
    text-align: center;
  }
  .cardCarrusel {
    height:100vh ;
    background: #333;
    color: #fff;
    font-size: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px;
    text-align: center;
    -webkit-box-shadow: 0 0 5px #000;
        box-shadow: 0 0 5px #000;
  }

/*@media (max-width: 600px) {
  .cardCarrusel {
    background-repeat: no-repeat;
    background-size: contain ;
  }
}*/
@media (max-width: 500px) {
  .cardCarrusel {
    height:60vh ;
    background-repeat: no-repeat;
    background-size: cover ;
  }
}


  .blackOpacity
  {
    padding: 30px;
    background-color: rgba(7, 7, 7, 0.5); 
  }
  
  
  